/* Header */

header{
    background-color: hsl(209deg 100% 50%);
    color: white;
    padding: 15px;
    margin-bottom: 50px;
}

.Nav-bar{
    display: flex;
    justify-content: space-between;
    
}


.Nav-bar ul{
    list-style: none;
}

.Nav-bar ul li{
    display: inline;
    margin: 15px;
    font-size: 21px;
}


.btn-white{
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 10px;
}

.responsive-header{
    display: none;
}

/* Tablet */

@media  screen and (max-width:768px) {
    .Nav-bar ul{
        display: none;
    }

    .responsive-header{
        display: flex;
        padding-top: 10px;
        font-size: 24px;
        padding-right: 8px;
    }   
}

@media screen and (max-width:350px) {
    header{
        
    }
    
}

/* Main */


/* jumbotron */

.jumbotron{
    margin-bottom: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card-big{
    display: flex;
    width: 60%;
    background-color: hsl(208deg 100% 85%);
    height: 300px;
    border-radius: 20px;
}

.card-big h2{
    color: #0084fd;
    font-size: 30px;
    margin: 20px 15px;
}

.card-big p{
    color: #5a6e7f;
    margin: 20px 15px;
}

.btn-blue{
    background-color: #0084fd;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 50px;
    margin-left: 15px;
    margin-top: 30px;
}

.card-big img{
    width: 200px;
    margin-top: 76px;
}

.card-small{
    width: 29%;
    background-color: hsl(208deg 100% 85%);
    border-radius: 20px;
    height: 300px;
}

.card-small div{
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0084fd;
}

.card-small h2{
    text-align: center;
    color: #0084fd;
    font-size: 24px;
    margin-bottom: 20px;
}

.card-small p{
    color: #5a6e7f;
    margin: 0 25px;
    font-size: 18px;
   
}


/* responsive-tablet */

@media  screen and (max-width:768px) {
    .jumbotron {
        margin: 0 40px;
    }

    .card-big{
        display: block;
        width: 60%;
        background-color: hsl(208deg 100% 85%);
        height: 450px;
        border-radius: 20px;
    }
    
    .card-big h2{
        font-size: 20px;
        
    }

    .col-50{
        width: 100%;
    }

    .btn-blue{
        background-color: #0084fd;
        color: white;
        border-radius: 20px;
        border: none;
        padding: 10px 50px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .card-big img{
        width: 200px;
        margin-top: 10px;
        max-height: 300px;
    }

    .card-small{
        width: 29%;
        background-color: hsl(208deg 100% 85%);
        border-radius: 20px;
        height: 450px;
    }

    .card-small p{
        color: #5a6e7f;
        margin: 0 25px;
        font-size: 15px;
    }
}



/* responsive-mobile */

@media screen and (max-width:350px) {

    .jumbotron{
        margin: 0 40px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
    
    .card-big{
        width: 100%;
        height: 500px;
    }

    .card-big img{
        width: 200px;
        margin-top: 10px;
        max-height: 400px;
    }

    .card-small{
        width: 100%;
        height: 350px;
    }
}

/* < !-- App Development --> */

#planning {
    background-color: hsl(244deg 60% 73%);
    padding: 50px 0;
    margin-bottom: 50px;
    min-height: 900px;
    margin-top: 50px;
}

.planning-image {
    margin-bottom: 100px;
}

#planning .card {
    width: 100%;
    margin: 30px;
    padding: 30px;
    background-color: white;
    min-height: 600px;
    position: relative;
    top: 30px;
}

.planning-details h2{
    color: white;
    font-size: 34px;
    margin-bottom: 50px;
}

.planning-details div{
    color: white;
    font-size: 24px;
}

.planning-details2 h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.circles{
    background-color: hsl(244deg 60% 73%);
    margin-top: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    position: relative;
    left: 140px;  
}




/* responsive-tablet */

@media  screen and (max-width:768px) {
    #planning .row{
        display: flex;
        flex-direction: column;
    }

    .col-40{
        width: 100%;
    }

    #planning .card {
        width: 100%;
        margin: 30px;
        padding: 30px;
        background-color: white;
        min-height: 900px;
        position: relative;
        top: 30px;
    }

    .circles {
        background-color: hsl(244deg 60% 73%);
        margin-top: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        line-height: 50px;
        position: relative;
        left: 260px;
    }
}



/* Testimonials */

.testimonials{
    margin-bottom: 80px;
}


.testimonials-details{
    text-align: center;
}

.testimonials h2{
    padding-bottom: 20px;
}

.testimonials h1 {
    padding-bottom: 20px;
    color: hsl(244deg 60% 73%);
    font-size: 40px;
}

.testimonials p {
    padding-bottom: 20px;
}

.card{
    background-color: hsl(244deg 60% 73%);
    border-radius: 30px;


    /* debug */
    width: 100%;
    height: 250px;
}

/* responsive-tablet */

@media  screen and (max-width:768px) {
    .testimonials {
        margin-bottom: 80px;
        margin-left: 40px;
        margin-right: 40px;
        
    }
}

@media screen and (max-width:350px) {
    .testimonials{
        margin-bottom: 80px;
        
    }
    
}

/* Benefits */

.benefits{
    background-color: hsl(244deg 60% 73%);
    padding-top: 40px;
    margin-bottom: 80px;
    height: 1100px;
}

.benefits .card{
    background-color: white;
    width: 390px;
    height: 450px;
    border-radius: 30px;
    
}

.benefits h2{
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-size: 40px;
}

/* Responsive-Tablet */

@media screen and (max-width:768px) {
    .benefits{ 
        width: 100%;
        min-height: 1000px;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 30px;
    }

    .benefits .card {
        background-color: white;
        border-radius: 30px;
        flex-basis: 45%;
        height: 300px;
    
    }
}

/* Responsive-mobile */
@media screen and (max-width:350px) {
    .benefits{
        width: 100%;
        min-height: 1750px;
    }
    
    .benefits .card{
        width: 100%;
        height: 300px;
    }

    .benefits .row{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 1500px;
    }
}

/* About Us */

.col-main{
    flex-basis: 70%;
    
    
}

.col-side{
    flex-basis: 30%;

    /* Debug */
    background-color: hsl(244deg 60% 73%);
    width: 100px;
    height: 350px;
}

.about-us h2{
    color: hsl(244deg 60% 73%);
    font-size: 50px;
    margin-bottom: 30px;
}

.about-us p{
    margin-bottom: 40px; 
}

/* responsive-tablet */

@media  screen and (max-width:768px) {
    .col-main{
        flex-basis: 50%;
    }
    
    .col-side{
        flex-basis: 50%;
    }

    .about-us .column{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}
