/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container-small {
	max-width: 600px;
	margin: 0 auto;
}



.clearfix::after {
	content: '';
	clear: both;
	display: table;
}


.jc-center {
	display: flex;
	justify-content: center;
}

.ai-flex-end {
	display: flex;
	align-items: flex-end;
}

.col-70 {
	width: 70%;
	padding: 0 15px;
}

.col-50 {
	width: 50%;
	padding: 0 15px;
}

.col-40 {
	width: 40%;
	padding: 0 15px;
}

.col-30 {
	width: 30%;
	padding: 0 15px;
}